@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html * {
    max-height: 1000000px;
}


a {
    text-decoration: none;
}

button{
	cursor: pointer;
}

p {
	color: #1f3f68;
	opacity: 0.6;
	margin:100px;
	float: right;
}
h2{
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.container{
	width: 1140px;
	margin: 0 auto; 
}

html{
	height: 100%;
}
body{
	height: 100%;
	background:#fff;
	display: flex;
	flex-direction: column;
	font:normal 400 16px/26px'Roboto';
	letter-spacing:0.05em;
}

header{
	height: 116px;
	flex:none;
}

footer{
	height:657px;
	background:#316099;
	flex:none;
}

main{
	flex: auto;
}

/






.liner{
	height: 0;
	opacity: 0.4;
	
	
	border: 1px solid rgba(255,255,255,.4);
}

footer button{
	float: right;
	background: #5A98D0;
	height: 56px;
	width: 237px;
	color:#fff;
	text-align: center;
	letter-spacing: 0.04em;
	margin: 101px 0 106px 408px;
}

footer .container{
	padding: 64px 0;
	overflow:hidden;
}

footer h2{
	color:#fff;
	text-align:left;
	margin: 27px 0 32px;
}

footer p{
	color: #fff;
	opacity: 0.4;	
}

ol + p{
	 opacity: 0.4;
}

